@charset "UTF-8";

.note-editor {
	border: 1px solid #636e72 !important;
}

.note-editable {
	background-color: white;
}
/* bold와 italic이 적용되지 않는 문제를 수정하도록 코드 추가 */
.note-editable b {
	font: inherit;
	font-weight: bold;
	font-style: inherit;
}

.note-editable i {
	font: inherit;
	font-style: italic;
	font-weight: inherit;
}